<a href="https://colab.research.google.com/github/pier1001/Essai2_Openclassrooms/blob/main/Cas_pratique_formation_data_exercice_avec_aide.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Cas pratique : Formation data

### Importez les packages nécessaires à l'exécution du notebook en utilisant le code ci-dessous


```
# Importation des packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
```

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Importez le dataset en exécutant la cellule ci-dessous et créer le dataframe "df" en utilisant le code ci-dessous


```
df = pd.read_csv('https://github.com/gouzylla/titanic/blob/main/titanic_data.csv?raw=true', index_col="PassengerId")
```

In [4]:
# Ajouter votre code ici
df = pd.read_csv('https://github.com/gouzylla/titanic/blob/main/titanic_data.csv?raw=true', index_col="PassengerId")

### Afficher les 10 premières lignes du dataframe "df" en utilisant la fonction : head(10)

```
df.head(10)
```

In [5]:
# Ajouter votre code ici
df.head(10)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

### Afficher les détails des différentes colonnes du dataframe df grâce à la fonction : info()

```
df.info()
```

In [6]:
# Ajouter votre code ici
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

### Retirer les colonnes "Name", "Cabine" et "Ticket" du dataframe df à l'aide de la fonction drop()
note : faites attention à l'axe

```
df=df.drop(['Name','Cabin', 'Ticket'], axis=1)
```

In [8]:
# Ajouter votre code ici
df=df.drop(['Name','Cabin', 'Ticket'], axis=1)
df.head(10)

KeyError: ignored

### Retirer les lignes où il y a des valeurs manquantes en appliquant la fonction : dropna(how='any', axis=0) au dataframe df

```
df = df.dropna(how='any', axis=0)
```

In [9]:
# Ajouter votre code ici
df = df.dropna(how='any', axis=0)

### Mettre à jour l'indexage en appliquant la fonction : reset_index() au dataframe df

```
df = df.reset_index()
```

In [11]:
# Ajouter votre code ici
df = df.reset_index()
df.head(10)

,index,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,0,1,0,3,male,22.0,1,0,7.2500,S
1,1,2,1,1,female,38.0,1,0,71.2833,C
2,2,3,1,3,female,26.0,0,0,7.9250,S
3,3,4,1,1,female,35.0,1,0,53.1000,S
4,4,5,0,3,male,35.0,0,0,8.0500,S
5,5,7,0,1,male,54.0,0,0,51.8625,S
6,6,8,0,3,male,2.0,3,1,21.0750,S
7,7,9,1,3,female,27.0,0,2,11.1333,S
8,8,10,1,2,female,14.0,1,0,30.0708,C
9,9,11,1,3,female,4.0,1,1,16.7000,S

### Créer un dataframe df_num avec uniquement les valeurs quantitatives et un dataframe df_cat avec uniquement les valeurs qualitatives

```
df_num = df[['Age','SibSp','Parch','Fare']]
df_cat = df[['Survived','Pclass','Sex','Embarked']]
```

In [ ]:
# Ajouter votre code ici

###Créer la matrice de corrélation des valeurs quantitatives en utilisant le code ci-dessous


```
sns.heatmap(df_num.corr(),annot=True)
```

In [ ]:
# Ajouter votre code ici

###Créer un tableau indiquant le nombre de personnes survivantes en fonction de leur sexe, utiliser le code ci-dessous

```
df[["Sex", "Survived"]].groupby("Sex").value_counts()
```

In [ ]:
# Ajouter votre code ici

### De la même manière, créer un tableau indiquant le taux de survivants en fonction de leur sexe en utilisant le code ci-dessous
```
df[["Sex", "Survived"]].groupby("Sex").mean()
```

In [ ]:
# Ajouter votre code ici

### Afficher dans un graphique à barres le nombre de survivants en fonction de la classe en utilisant le code ci-dessous
```
sns.countplot(x="Pclass",hue="Survived", data=df)

```

In [ ]:
# Ajouter votre code ici

###Encoder les valeurs catégoriques en utilisant le code ci-dessous
```
# Importer label encoder
from sklearn import preprocessing
# Créer le label encoder
le= preprocessing.LabelEncoder()
# Encoder toutes les colonnes de df_cat
df_cat_encoded= df_cat.apply(le.fit_transform)
df_cat_encoded

```

In [ ]:
# Ajouter votre code ici

### Mettre à l'échelle les valeurs catégoriques en utilisant le code ci-dessous :
```
from sklearn.preprocessing import StandardScaler
# créer le scaler
scaler = StandardScaler()
# Mise à l'echelle de toutes les colonnes de df_num
df_num_scaled = pd.DataFrame(scaler.fit_transform(df_num),columns = df_num.columns)
df_num_scaled

```

In [ ]:
# Ajouter votre code ici

###Créer le dataframe df_prepros en rassemblant df_num_scaled et df_cat_encoded en utilisant le code ci-dessous :
```
df_prepros = pd.merge(df_num_scaled ,df_cat_encoded, left_index=True, right_index=True)
```

In [ ]:
# Ajouter votre code ici

###Créer le dataframe target à partir de la colonne "survived" de df_prepros
```
target = df_prepros["Survived"]

```

In [ ]:
# Ajouter votre code ici

###Retirer la colonne "Survived" du dataframe df_prepros et créer le dataframe data

```
data =df_prepros.drop(["Survived"], axis =1)
```

In [ ]:
# Ajouter votre code ici

###Partager les données d'entrée et la valeur cible en donnée d'entrainement et de test en utilisant le code ci-dessous
 ```
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=42)

```

In [ ]:
# Ajouter votre code ici

###Entrainer les données sur un modèle de classification Random Forest
Générer des prédictions y_pred
 ```
from sklearn.ensemble import RandomForestClassifier
# Initialiser le modèle de classification
clf = RandomForestClassifier(random_state=0)
# Entrainer le modèle
clf.fit(X_train, y_train)
# calculer les prédictions
y_pred = clf.predict(X_test)
```

In [ ]:
# Ajouter votre code ici

###Calculer la precision du modèle en utilisant le code ci-dessous

 ```
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

```

In [ ]:
# Ajouter votre code ici

###Créer et afficher la matrice de confusion de ce modèle en utilisant le code ci-dessous

 ```
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
cm =confusion_matrix(y_test, y_pred)
cmp = ConfusionMatrixDisplay(cm, display_labels=["Survived", "Not survived"])

cmp.plot(cmap=plt.cm.Blues);

```

In [ ]:
# Ajouter votre code ici

###Calculer les feartures scores du modèle

 ```
feature_scores = pd.Series(clf.feature_importances_, index=X_train.columns).sort_values(ascending=False)
feature_scores
```

In [ ]:
# Ajouter votre code ici

###Afficher les features importances  dans un graphique

 ```
f, ax = plt.subplots(figsize=(8, 6))
ax = sns.barplot(x=feature_scores, y=feature_scores.index)
ax.set_title("Visualisation des features importances ")
ax.set_yticklabels(feature_scores.index)
ax.set_xlabel("Feature importance score")
ax.set_ylabel("Features")
plt.show()
```

In [ ]:
# Ajouter votre code ici